body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    max-width: 600px;  /* 限制容器的最大宽度 */
}

.form-group label {
    flex: 0 0 100px;  /* 设置标签宽度 */
    padding: 10px;
    text-align: right;
}

.form-group input[type="password"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    color: green;
}
