body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    width: 90vw;
    height: 90vmin;
}

.red-block {
    background-color: red;
    position: relative;
}

.image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s;
}

.active {
    opacity: 1;
}

.content {
    grid-row: 2 / 5;
    grid-column: 2 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    border: 10px solid red;
    box-sizing: border-box;
}

.content h1 {
    color: red;
    margin: 0;
}

.content p {
    color: #000;
}

.question-container {
    display: none;
    flex-direction: column;
    align-items: center;
}

.question {
    display: none;
    margin-bottom: 20px;
    font-size: 24px;
    color: black;
}

.options {
    display: none;
    flex-direction: column;
}

.option {
    margin: 5px 0;
    padding: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    cursor: pointer;
}

.option:hover {
    background-color: #ddd;
}

.score-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.score {
    font-size: 24px;
    color: red;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#retry-button, #leaderboard-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px; /* 增加按钮之间的间距 */
}

#retry-button:hover, #leaderboard-button:hover {
    background-color: darkred;
}
